---
import {
  PaginationHeader,
  Section,
} from 'astro-boilerplate-components';

import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';
import { sortByDate } from '@/utils/Markdown';

import Leaflet from './leaflet.tsx';

const { page } = Astro.props as Props;
const titleSuffix = ` | ${AppConfig.site_name}`;
const titleBase = `Journey`;
const title = titleBase + titleSuffix;
const description = 'Explore diverse projects built with ❤️ for inspiration and innovation.';
---

<Base head={{ title, description, image: "https://cdn.oskadev.com/assets/images/project-gallery.png" }}>
  <Section>
    <PaginationHeader
      title={`Our Journey`}
      description={`A story of love, growth, and endless adventures. From the moment our paths crossed to building a life together, every step has been filled with laughter, challenges, and unwavering support. Through all seasons, we walk hand in hand—stronger, happier, and always looking forward to what’s next. ❤️`}
    />
  </Section>

  <Section>
    <Leaflet client:only />
  </Section>
</Base>
