---
import type {
  FrontmatterPage,
  IFrontmatter,
} from 'astro-boilerplate-components';
import {
  BlogGallery,
  NewerOlderPagination,
  PaginationHeader,
  Section,
} from 'astro-boilerplate-components';

import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';
import { sortByDate } from '@/utils/Markdown';

type GetStaticPaths = {
  paginate: any;
}; // Overrides `GetStaticPathsOptions` types from Astro

export async function getStaticPaths({ paginate }: GetStaticPaths) {
  const allPosts = await Astro.glob<IFrontmatter>('../posts/projects/*.md');
  const sortedPosts = sortByDate(allPosts);

  // Return a paginated collection of paths for all posts
  return paginate(sortedPosts, { 
    pageSize: 9,
  });
}

interface Props {
  page: FrontmatterPage;
}

const { page } = Astro.props as Props;
const titleSuffix = ` | ${AppConfig.site_name}`;
const titleBase = `Projects`;
const title = titleBase + titleSuffix;
const description = 'Explore diverse projects built with ❤️ for inspiration and innovation.';
---

<Base head={{ title, description, image: "https://cdn.oskadev.com/assets/images/project-gallery.png" }}>
  <Section>
    <PaginationHeader
      title={`Project Gallery`}
      description={`Explore diverse projects built with ❤️ for inspiration and innovation.`}
    />
  </Section>

  <Section>
    <BlogGallery postList={page.data} />
  </Section>

  <Section>
    <NewerOlderPagination page={page} />
  </Section>
</Base>
